.input-file-container {
    position: relative;
    width: 225px;
}
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    color: #7F8C9A;
    background: #FCFDFD;
}
h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
}

h2 {
    margin: 5px 0 2em;
    color: #1ABC9C;
}

form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}

h2 + P {
    text-align: center;
}

.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
}

.copy {
    margin-top: 2em;
}

.copy a {
    text-decoration: none;
    color: #1ABC9C;
}

.wrapper {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    grid-template-areas:
            ". a a ."
            ". a a .";
}

.form-container {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

    grid-area: a;
    align-self: center;
    justify-self: center;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ABC9C;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #34495E;
    cursor: pointer;
}

.button-block {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.error-box {
    height: 150px;
    overflow:auto;
}

.error-header {
    color: #1ABC9C;
    text-align: center;
}

.response-message {
    text-align: center;
}