{% extends 'base.html.twig' %}

{% block title %}Welcome to importer!{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>CSV to Database importer</h1>
        <h2>Use form for import</h2>

        {{ form(form) }}

        <p class="response-message">
            {% if message is defined %}
                {{ message }}
            {% endif %}
        </p>

        {% if info is defined %}
            <table class="inform">
                <tr>
                    <th>Status</th>
                    <th>Count</th>
                </tr>
                {% for inf in info %}
                    <tr>
                        <td>{{ inf.title }}</td>
                        <td>{{ inf.value }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if errors is defined and errors != null  %}
            <p class="error-header">Errors:</p>
            <div class="error-box">
                <ul>
                    {% for error in errors %}
                        {% for suberror in error %}
                            <li>{{ suberror }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
